/*HEADER*/

    /*TITLES*/
h2{
    text-transform: uppercase;
}

.leftBorder {
    padding-left: 10px;
    border-left: 5px solid #FA4441;
}

.jumbotron h1{
    font-size: 3rem;
}

.jumbotron h2{
    font-family: 'Muli', sans-serif;
    font-size : 2.5rem;
    margin: 1.3rem 2rem;
}

.jumbotron .lead{
    color :rgba(255,255,255, 0.6);
    font-size: 0.8rem;
    letter-spacing: 2px;
}

    /*TEXT: Uppercase*/

.jumbotron{
    text-transform: uppercase;
}

.jumbotron .dropdown-menu{
    text-transform: capitalize;
}

.jumbotron #buttonDropdown{
    text-transform: uppercase;
}

    /*NAVBAR*/

nav.navbar{
	width: 100%;
	position: absolute;
	z-index: 6;
}

.navbar-toggler{
	background-color:rgba(255,255,255, 0.6);
}

.homeContact{
	padding: 0.6rem 0.7rem;
}

.navbar .nav-item{
	font-size: 0.7rem;
	margin: 2px;
	cursor: pointer;
}

.navbar .hover a{
	background-color: rgba(255,255,255, 0.5);
	padding: 0.5rem 0.8rem ;
}

.navbar .hover a:hover{
	background-color: #FA4441;
	color: #fff !important;
}

    /*BUTTON GENRE*/
#buttonDropdown{
    background-color: #FA4441;
    color: #fff !important;
    padding: 0.5rem !important;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#buttonDropdown:hover{
    background-color: #FE4240;
    color: #fff !important;
}
    
    /*INPUT SEARCHBAR*/
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 150px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    caret-color:red;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #FA4441;
    text-decoration: none;
}

.search_icon{
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

    /*CAROUSEL*/
.jumbotron img{
    filter: brightness(0.30);
    height: 80vh !important;
}

.carousel-caption{
    margin-bottom: 9rem;
}

.carousel-caption a{
    font-size: 0.7rem;
    background-color: #FA4441;
    color: white;
    text-decoration: none;
}

.carousel-indicators{
    margin-bottom: 7rem;
}

.carousel-indicators .active{
    background-color: #FA4441;
}

    /* RED LINE NAV */

.login-register{
    background-color: black;
    margin: 5px 2.5px 5px 2.5px;
}

.redLine{
    background-color: #FA4441;
}

/*BUTTONS SOCIAL NETWORKS*/
#reseauxSociaux{
    position: fixed;
    top: 300px;
    z-index: 8;
}

.socials{
    width: 150px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.socials span{
    display: inline-block;
    margin-top: 9px !important;
}

#facebook{
    background-color: #3E5F94;
    margin-left: -110px;
    margin-bottom: 3px;
}

#twitter{
    background-color: #0F9DF5;
    margin-left: -110px;
    margin-bottom: 3px;
}
#google{
    background-color: #E84838;
    margin-left: -110px;
}
#github{
    background-color: #E24B84;
    margin-left: -110px;
    margin-bottom: 3px;
}

#facebook:hover{
    transition:0.5s;
    margin-left: 0px;
}
#twitter:hover{
    transition:0.5s;
    margin-left: 0px;
}

#google:hover{
    transition:0.5s;
    margin-left: 0px;
}
#twitter:hover{
    transition:0.5s;
    margin-left: 0px;
}
#github:hover{
    transition:0.5s;
    margin-left: 0px;
}

.socials img{
	width: 30px;
	margin-top: -3px;
	margin-left:20px;
	background-color: white;
	border-radius: 100%;
}

.socials a{
	text-decoration: none;
	color: white;
	margin-left: 47px;
}

#facebook a{
	margin-left: 25px !important;
}

#google a{
	margin-left: 33px !important;
}

/* BUTTON SECTION MOVIES */
.btn_section{
	width: 95px;
	height: 34px;
	margin: 15px 0px 0px 2px;
	border-style: none;
    cursor: pointer;
}

.btn_section:hover{
	background-color: #FA4441;
    color: white;
}

/*BUTTON MORE FILM*/
.btnmore {
    border: none;
    background-color: #FA4441;
    color:white;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btnmore:hover{
   background-color: #0D0D0D;
}

/* MOVIE CARDS */
.title, .year, .genre, .price{
    text-align:center;
}
/* SHOP MOVIES */
.backgroundGrey{

    background-color: #eeedf2;
}

.backgroundBlack{
    background-color: black;
}

/* CONTACT FORM */
.background{
    background-color: white;
    padding: 5px;
}

.btnSend{
    background-color: #FA4441;
    color: white;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
footer {
    background-color: #0D0D0D;
    margin: -100px 0 0 0;
}

.flexible {
    padding: 0 -50px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.column {
    text-align: center !important;
    width: 100%;
    padding: 10px;
}

.footerSubscribe {

    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
}

.form-subscribe{
    width: 300px;
    height: 30px;
    padding: 2px;
    padding-left: 5px;
    margin-right: 3px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.btn-subscribe {
    background-color: #FA4441;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    height: 30px;
    line-height: 1;
    cursor: pointer;
}

.footerTitle, .footerText, .footerConnectUs {
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}

.footerTitle {
    font-size: 14px;
    color: #bebebe;
}

.footerText {
    font-size: 12px;
    color: #4a4a4a;
}

.footerText p{
    margin: 0;
}

.footerLine {
    height: 1px;
    color: #292929;
    background-color: #292929;
    border: none;
}

.footerBadge {
    background-color: #292929;
    padding: 5px;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    color: #a4a4a4;
}

.footerLatest {
    font-family: arial;
    font-size: 12px;
    color: #4a4a4a;
}

.footerLatestImg {
    width: 8vw;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footerLogo {
    margin-bottom: 8px;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
}

.footerAllezImg {
    width: 30%;
    height: auto;
    margin-bottom: -3px;
}

.footerConnectUs {
    text-align: center;
    font-size: 16px;
    color: #a4a4a4;
}

.footerIcon {
    width: 24px;
    height: 24px;
    padding-top: 2px;
    display: inline-block;
    border: 1px solid #a4a4a4;
    border-radius: 2px;
    text-align: center;
    color: #a4a4a4;
}

.fab, .fa a {
    color: #a4a4a4;
}

.center{
    text-align:center;
}